/*responsive for mobile device */

@media screen and (max-width: 576px){
   /*nav bar section */
    .navbar{
        padding:10px;
    }
   
   .nav-links ul{
        display:none;
    }
    .contact-btn button{
        display:none;
    }
    .burg-icon{
        display:block;
    }
    /*hero section */
    .hero-container{
        flex-direction: column-reverse;
        margin-top:120px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-right img{
        width:80%;
        height:auto;
    }
    .hero-left{
        margin:20px 20px;
    }
    /*Curriculum section */
    .curriculum{
        margin-top:270px;

    }
    .curriculum-box{
        flex-direction: column;
    }
    .curriculum-box-item{
        width:80%;
    }
    .curriculum-heading{
        font-size:1.5rem;
        margin:5px;
        margin-bottom:20px;
    }
    .arrow-btn{
        display:none;
    }
    .curriculum-box-item h2{
        font-size:1rem
    }
    .curriculum-box-item p{
        font-size:1rem
    }
    .curriculum-box-item>a{
        font-size:1rem;
    }
    /*story section */
    .story-container{
        margin-top:700px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .story-box-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:40px;
    }
    .story-left-item{
        display:none;
    }
    .story-right-item{
        grid-template-columns: 2fr;
    }
    .story-heading{
        margin-bottom:40px;
    }
    .right-item{
        width:100%;
    }
    .curriculum-heading{
        font-size:2rem;
        font-weight:700;
        text-align:center;
        margin:0 0 50px 0;
    }
    .story-button{
        margin-bottom:20px;
    }
    .footer{
        height:642px;
        background-color:rgb(1, 172, 253);
    }
    
    .footer-box{
        margin-top:20px;
    }
        .main-footer{
        flex-direction: column;
        width:100%;
        justify-content: left;
        padding-left:20px;
    }
    
.footer-logo{
    justify-content: left;
    align-items: left;
}
    .footer-box p{
        margin:5px;
    }
    .footer-logo>h1{
        font-size:2rem;
    }
    
.footer-list li{
    
    margin:5px 0;
}
    .social{
        margin-top:5px;
    }
}

/*responsive for tablet device */
@media screen and (min-width: 576px ) and (max-width:992px){
    /*nav bar section */
    .nav-links ul{
        display:none;
    }
    .contact-btn button{
        display:none;
    }
    .burg-icon{
        display:block; 
    }
    /*hero section */
    .hero-container{
        flex-direction: column-reverse;
        margin-top:200px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-left{
        margin:30px 0;
    }
    .hero-left p{
        margin-left:1.5rem;
    }
    /*Curriculum section */
    .curriculum{
        margin-top:220px;

    }
    .curriculum-box{
        flex-direction: column;
    }
    .curriculum-box-item{
        width:80%;
    }
    .curriculum-heading{
        font-size:3rem;
    }
    .arrow-btn{
        display:none;
    }
    .curriculum-box-item h2{
        font-size:2rem
    }
    .curriculum-box-item p{
        font-size:1.5rem
    }
    .curriculum-box-item>a{
        font-size:2rem;
    }
    /*story section */
    .story-container{
        margin-top:800px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .story-box-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .story-left-item{
        margin:0 10px;
    }
    /*footer section */
}