/*header section responsive for mobile device */

@media screen and (max-width: 576px){
   
    .nav-links ul{
        display:none;
    }
    .contact-btn{
        display:none;
    }
    .burg-icon img{
        display:block;
    }
}
/*header section responsive for tablet device */
@media screen and (min-width: 576px ) and (max-width:992px){
    .nav-links ul{
        display:none;
    }
    .contact-btn{
        display:none;
    }
    .burg-icon img{
        display:block;
    }
}