*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:rgb(255, 255, 255);
}
#body{
    max-width:1140px;
    margin:0 auto;
    padding:0 20px;
    
}
/*Share Style properties*/
.display-flex{
    display:flex;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
/*Main style */

/*
===============================
header section
===============================
*/
.navbar{
    justify-content:space-between;
    align-items:center;
    height:62px;
    margin:20px 0;
}
.brand{
    justify-content: center;
    align-items: center;
    gap:11px;
}
.brand h1{
    font-size:32px;
    font-weight:600;
    color:rgb(17, 17, 17);
}
.nav-links ul{
    gap:32px;
    font-size:20px;
    font-weight:700;
}
.first-item{
    color:orange;
}
.second-item{
    color:skyblue;
}
.third-item{
    color:#05D4DF;
}
.fourth-item{
    color:#5D58EF;
}
.first-item:hover{
    color:rgb(255, 251, 0);
    transition: 0.5s;
}
.second-item:hover{
    color:rgb(255, 123, 0);
    transition: 0.5s;
}
.third-item:hover{
    color:rgb(255, 0, 128);
    transition: 0.5s;
}
.fourth-item:hover{
    color:rgb(255, 196, 0);
    transition: 0.2s;
}
.contact-btn button{
    padding:10px 60.5px;
    font-size:20px;
    background-color:orange;
    color:white;
    border:none;
    border-radius: 12px;
    cursor:pointer;
}
.burg-icon{
    display:none;
    width:30px;
    height:30px;
}
.contact-btn button:hover{
    background-color:skyblue;
    transition: 0.5s;
}

/* =============================
 End of header section design
 ===============================
 */
/* =============================
 start design hero section
 */
.hero-container{
    height:575px;
    margin-top:20px;
    justify-content: space-between;
    align-items: center;
}
.hero-left{
    width:640px;
    height:331px;
    margin:122px 0;
    margin-right:50px;
}
.hero-left h1{
    font-size:56px;
    font-weight:700;
}
.hero-left .orange-color{
    color:orange;
}
.hero-left .skyblue-color{
    color:skyblue;
}
.hero-left p{
    font-size:20px;
    font-weight:400;
    margin:20px 0;
}
.hero-left button{
    padding:10px 47px;
    font-size:20px;
    font-weight:700;
    border:none;
    border-radius: 12px;
    background-color: black;
    color:white;
}
.hero-left button:hover{
    background-color:orange;
    color:white;
}
.hero-right{
    width:468px;
    height:575px;
}
